border {
    border: 2px solid #444444;
    border-radius: 5px;
}

#titleBox {
    margin: 10px 15px 10px 15px;
    padding: 5px;
    background: #faf6e6;
    border-radius: 5px;
}

#imdbRatingBox {
    margin: 10px 15px 10px 15px;
    padding: 5px;
    background: #f1e3ae;
    border-radius: 5px;
}

#myRatingBox {
    margin: 10px 15px 10px 15px;
    padding: 5px;
    background: #f1e3ae;
    border-radius: 5px;
}

.packBackground {
    background-image: none;
    background-color: #585858;
}

.packLabel {
    background-image: none;
    background-color: #e3c75b;
    padding: 5px;
    min-height: 300px;
    border-radius: 5px 0px 0px 5px;
}